# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
backend/images/aaaa-1572883322501.jpg
backend/images/aaabbb-1572886238675.jpg
backend/images/asdafdfdsfad-1572963618712.jpg
backend/images/asdf-1572963595733.jpg
backend/images/cdfasfdaf-1572970311407.jpg
backend/images/new-title-1572943007556.jpg
backend/images/new-title22-1572954541732.jpg
backend/images/post9-1573034643997.jpg
backend/images/post10-1573034665098.jpg
backend/images/post11-1573034683253.jpg
backend/images/post12-1573034741343.jpg
backend/images/safda-1572963604175.jpg
backend/images/safdsa-1572963569817.jpg
backend/images/todo-bizcochon-1572963585659.jpg
